.profileContainer {
  margin-top: 20px;
  text-align: center;
}

.profileHeader {
  margin-bottom: 30px;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.carouselImage {
  max-height: 400px;
  object-fit: contain;
  border: 5px solid #fefefe;
  border-radius: 20px;
}
